<ul>
    {% for station in stations %}
    <li>
        <button type="button" name="station_name" value="{{ station.name }}"
                class="station-button {% if last_station and last_station.name == station.name %}active{% endif %}">
            {{ station.name }}
        </button>
        <input type="hidden" name="station_url_{{ station.name }}" value="{{ station.url }}">
        <button type="submit" name="delete_station" value="{{ station.name }}"
                class="delete-btn"
                onclick="return confirm('Удалить станцию {{ station.name }}?')">✖</button>
    </li>
    {% endfor %}
</ul>
